<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tech Blog</title>
</head>
<body>
   <header>
       <h1>The Tech Blog</h1>
       <div>
           <nav>
               <a class="homepage" href="/">Home</a>
               <a class="dashboard" href="/dashboard">Dashboard</a>
               <a class="login" href="/login">Login</a>
               <a class="logout" href="/logout"Logout></a>
           </nav>
       </div>
   </header>
   <main>

   </main>
   <script src=""></script>
</body>
</html>